################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfHelpers/WpfHelpers/bin/Release/WpfHelpers.pdb
